{
  "presets": [["@babel/preset-env",{
    "corejs": {
        "version": 3,
        "proposals": true
    },
    "useBuiltIns": "usage",
    "targets": {
         "browsers": "ie 9"
    }
  }]],
   "plugins": ["@babel/plugin-proposal-class-properties"]
}
